@page "/calonPelamar"
@using BlazorAdminLoker2022.Resource.Laporan
@inherits AdminCalonPelamarPageBase

<style>
    /*    .table > :not(:first-child) {
                                                                                                    border-top: none;
                                                                                                }*/
    .columnCalonPelamar {
        height: 650px;
    }

    @@media (max-width: 1399.98px) {
    }

    @@media (max-width: 1199.98px) {
    }

    @@media (max-width: 991.98px) {
    }

    @@media (max-width: 767.98px) {
    }

    @@media (max-width: 575.98px) {
        .columnCalonPelamar {
            height: 570px;
        }
    }

</style>

<PageTitle>Calon Pelamar</PageTitle>

<section class="calon-container">
    <div class="container-xl px-3 px-sm-4 mt-4 mb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap mb-2">
                    <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Contained"
                               Title="Calon Pelamar">
                        <Items>
                            <DxToolbarItem Alignment="ToolbarItemAlignment.Right"
                                           IconCssClass="fas fa-line-columns"
                                           Text="Column Chooser"
                                           RenderStyle="ButtonRenderStyle.Secondary"
                                           CssClass="column-chooser-button"
                                           Click="@OnClick" />
                        </Items>
                    </DxToolbar>
                </div>
                <DxGrid @ref="@Grid" Data="@calonPelamar"
                        PagerNavigationMode="PagerNavigationMode.Auto"
                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                        PageSize="30"
                        DetailRowDisplayMode="@ShowMasterDetail"
                        ShowFilterRow="@ShowFilterRow"
                        CssClass="columnCalonPelamar"
                        AutoCollapseDetailRow="true">
                    <Columns>
                        <DxGridDataColumn FieldName="nama" Caption="Nama" />
                        <DxGridDataColumn FieldName="noTlp" Caption="No Tlpn" Visible="@VisibleResponsive" />
                        <DxGridDataColumn FieldName="tglLahir" DisplayFormat="D" Caption="Tgl Lahir" Visible="@VisibleResponsive" />
                        <DxGridDataColumn FieldName="umur" Caption="Umur" Visible="@VisibleResponsive" />
                        <DxGridDataColumn FieldName="pelamarId" Caption="Pelamar Id" Visible="false" />
                        <DxGridDataColumn FieldName="dateCreated" Caption="dateCreated" Visible="false" />
                        <DxGridDataColumn FieldName="dateUpdate" Caption="dateUpdate" Visible="false" />
                        <DxGridDataColumn FieldName="userCreated" Caption="userCreated" Visible="false" />
                        <DxGridDataColumn FieldName="userUpdate" Caption="userUpdate" Visible="false" />
                        <DxGridDataColumn FieldName="pelamarId" Visible="true" Width="70px" Caption="Opsi" TextAlignment="GridTextAlignment.Center">
                            <CellDisplayTemplate>
                                <a href="javascript:;" class="h3" @onclick="() => goHistory((int)context.Value)"><i class="material-icons md-24 text-info">move_up</i></a>
                            </CellDisplayTemplate>
                        </DxGridDataColumn>
                    </Columns>
                    <ColumnHeaderCaptionTemplate>
                        <span title="Click the header to sort data by this column. Drag and drop the header to change the column's position">
                            @context.Caption
                        </span>
                    </ColumnHeaderCaptionTemplate>
                    <DetailRowTemplate>
                        @{
                            var dataContext = (AdminCalonPelamar)context.DataItem;
                            <div class="master-detail">
                                <h6>Detail Data</h6>
                                <p><span>Nama: </span> @dataContext.nama</p>
                                <p><span>No Tlpn: </span>@dataContext.noTlp</p>
                                <p><span>Umur : </span>@dataContext.umur</p>
                                <p><span>Tgl Lahir: </span>@dataContext.tglLahir.ToString("dd MMMM yyyy")</p>
                            </div>
                        }
                    </DetailRowTemplate>
                </DxGrid>
                @*      <DxDataGrid DataAsync="@GetAsyncCalonPelamar(calonPelamar)"
                    AllowColumnDragDrop="true"
                    VerticalScrollBarMode="ScrollBarMode.Auto"
                    PagerNavigationMode="PagerNavigationMode.Auto"
                    PagerPageSizeSelectorVisible="true"
                    PagerAllDataRowsItemVisible="true"
                    ColumnResizeMode="DataGridColumnResizeMode.NextColumn"
                    AutoCollapseDetailRow="true"
                    ShowDetailRow="@masterDetail"
                    PagerAllowedPageSizes=@(new int[] {10,50,100})
                    PageSize="30"
                    ShowFilterRow="@ShowFilterRow"
                    VerticalScrollableHeight="@heightTable"
                    HorizontalScrollBarMode="ScrollBarMode.Auto">
                    <HeaderTemplate>
                    <DxToolbar CssClass="Toolbal-fontCustom" Title="Calon Pelamar" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
                    <DxToolbarItem @bind-Checked="@ShowFilterRow"
                    GroupName="ShowFilterRow"
                    Tooltip="Filter Row"
                    Text="Filter Row"
                    IconCssClass="fas fa-filter"
                    Alignment="ToolbarItemAlignment.Right"
                    CssClass="btn-custom"
                    RenderStyle="ButtonRenderStyle.Warning"
                    BeginGroup="true" />
                    <DxDataGridColumnChooserToolbarItem Alignment="ToolbarItemAlignment.Right" />
                    </DxToolbar>
                    </HeaderTemplate>
                    <Columns>
                    <DxDataGridColumn Field="nama" Caption="Nama" />
                    <DxDataGridColumn Field="noTlp" Caption="No Tlpn" Visible="@VisibleResponsive" />
                    <DxDataGridColumn Field="tglLahir" Caption="Tgl Lahir" Visible="@VisibleResponsive" />
                    <DxDataGridColumn Field="umur" Caption="Umur" Visible="@VisibleResponsive" />
                    <DxDataGridColumn Field="pelamarId" Caption="Pelamar Id" Visible="false" />
                    <DxDataGridColumn Field="dateCreated" Caption="dateCreated" Visible="false" />
                    <DxDataGridColumn Field="dateUpdate" Caption="dateUpdate" Visible="false" />
                    <DxDataGridColumn Field="userCreated" Caption="userCreated" Visible="false" />
                    <DxDataGridColumn Field="userUpdate" Caption="userUpdate" Visible="false" />
                    <DxDataGridColumn Visible="true" Width="70px" Caption="Opsi" TextAlignment="DataGridTextAlign.Center">
                    <DisplayTemplate>
                    <a href="javascript:;" class="h3" @onclick="() => goHistory(context as AdminCalonPelamar)"><i class="material-icons md-24 text-info">move_up</i></a>
                    </DisplayTemplate>
                    </DxDataGridColumn>
                    </Columns>
                    <DetailRowTemplate Context="dataContext">
                    <div class="master-detail">
                    <h6>Detail Data</h6>
                    <p><span>Nama: </span> @dataContext.nama</p>
                    <p><span>No Tlpn: </span>@dataContext.noTlp</p>
                    <p><span>Umur : </span>@dataContext.umur</p>
                    <p><span>Tgl Lahir: </span>@dataContext.tglLahir.ToString("dd MMMM yyyy")</p>
                    </div>
                    </DetailRowTemplate>
                    </DxDataGrid>*@
            </div>
        </div>
    </div>
</section>

@code {

}

